*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #1E2D3B;
}
.wrapper-dischi{
  display: flex;
  width:80%;
  margin:auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.disco{
  width:18%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align:center;
  background-color: #2E3A46;
  margin:25px auto;
  padding:20px;
}
.disco h2{
  color:white;
  margin:15px auto;
}
.disco p{
  color:#777473;
}
.disco img{
  height:80px;
  width:80px;
}